# 对训练集和测试集一起做独热和哈希编码

In [1]:
# 首先导入必要的工具包
import pandas as pd
import numpy as np

## 1、准备数据

### 1.1 读取数据

In [2]:
# 数据路径
dpath = './data/'

# 读取训练数据
file_train = 'train_tiny.csv'
train = pd.read_csv(dpath + file_train, dtype={'id':str})

In [3]:
train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10014385711019128754,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,-1,79
1,10019341288757450780,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15707,320,50,1722,0,35,-1,79
2,10024331030544393307,1,14102100,1002,0,f727f4e0,fcb30e54,50e219e0,ecad2386,7801e8d9,...,0,0,6616,320,50,576,2,35,100131,32
3,10065138335302585931,0,14102100,1005,0,85f751fd,c4e18dd6,50e219e0,03528b27,2347f47a,...,1,2,6559,320,50,571,2,39,-1,32
4,10077489368961027234,0,14102100,1005,0,85f751fd,c4e18dd6,50e219e0,e96166c7,2347f47a,...,1,0,18993,320,50,2161,0,35,100148,157

In [4]:
train.shape

(500000, 24)

In [5]:
file_test = 'test.csv'

# 读取测试数据
test = pd.read_csv(dpath + file_test, dtype={'id': str})

In [6]:
test.head()

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10000174058809263569,14103100,1005,0,235ba823,f6ebf28e,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,8330,320,50,761,3,175,100075,23
1,10000182526920855428,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
2,10000554139829213984,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
3,10001094637809798845,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,51cedd4e,aefc06bd,0f2161f8,...,1,0,18648,320,50,1092,3,809,100156,61
4,10001377041558670745,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,...,1,0,23160,320,50,2667,0,47,-1,221

In [7]:
test.shape

(4577464, 23)

### 1.2 数据划分

为了保证训练数据和测试数据编码之后的特征维度依然相同，我们需要先把训练集和测试集合并在一起做独热和哈希编码，处理完之后再把两者分开。

In [8]:
# 保存训练集的id，click和所有特征
id_train = train['id']
y_train = train['click']
X_train = train.drop(['id', 'click'], axis=1)

# 保存测试集的id和所有特征
id_test = test['id']
X_test = test.drop(['id'], axis=1)

# 添加新的特征label作为训练集和测试集的分类
X_train['label'] = 1
X_test['label'] = -1

In [9]:
X_train.head()

,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,label
0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,...,0,15704,320,50,1722,0,35,-1,79,1
1,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,...,0,15707,320,50,1722,0,35,-1,79,1
2,14102100,1002,0,f727f4e0,fcb30e54,50e219e0,ecad2386,7801e8d9,07d7df22,2ad16ba3,...,0,6616,320,50,576,2,35,100131,32,1
3,14102100,1005,0,85f751fd,c4e18dd6,50e219e0,03528b27,2347f47a,8ded1f7a,a99f214a,...,2,6559,320,50,571,2,39,-1,32,1
4,14102100,1005,0,85f751fd,c4e18dd6,50e219e0,e96166c7,2347f47a,0f2161f8,fd47d3a8,...,0,18993,320,50,2161,0,35,100148,157,1

In [10]:
X_test.head()

,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,label
0,14103100,1005,0,235ba823,f6ebf28e,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,...,0,8330,320,50,761,3,175,100075,23,-1
1,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,...,0,22676,320,50,2616,0,35,100083,51,-1
2,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,...,0,22676,320,50,2616,0,35,100083,51,-1
3,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,51cedd4e,aefc06bd,0f2161f8,a99f214a,...,0,18648,320,50,1092,3,809,100156,61,-1
4,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,a99f214a,...,0,23160,320,50,2667,0,47,-1,221,-1

### 1.3 合并数据

In [11]:
# 将测试数据添加到训练数据后
X_all = X_train.append(X_test, ignore_index=True)

In [12]:
X_all.shape

(5077464, 23)

In [13]:
# 查看离散型特征分布
for col in X_all.columns:
    print('\n%s特征的不同取值和出现次数' % col)
    print(X_all[col].value_counts())

hour特征的不同取值和出现次数
14103109    299162
14103115    294435
14103107    291074
14103111    271846
14103113    271542
14103106    268602
14103116    259785
14103114    258779
14103110    250802
14103118    223281
14103112    221738
14103117    214982
14103108    208737
14103119    158623
14103105    145333
14103104    129317
14103120    128648
14103102    117478
14103121    104979
14103103     98818
14103101     94948
14103122     91011
14103100     90990
14103123     82554
14102209      5549
14102210      5468
14102813      5308
14102212      5064
14102211      4799
14102814      4751
             ...
14102721      1104
14102300      1102
14102223      1097
14103000      1096
14102121      1087
14102702      1073
14102621      1071
14103001      1047
14102601      1031
14102400      1013
14102200      1011
14102501      1007
14103023      1002
14102800       986
14102523       958
14102701       936
14102504       923
14102123       908
14102623       907
14102600       894
14102500       869
14102503       827
14102700       766
14102506       619
14102502       470
14102419       399
14102423       310
14102420       294
14102421       257
14102422       180
Name: hour, Length: 264, dtype: int64

C1特征的不同取值和出现次数
1005    4776307
1002     194643
1010      78459
1012      15727
1007      10142
1001       2107
1008         79
Name: C1, dtype: int64

banner_pos特征的不同取值和出现次数
0    4013896
1    1052019
7       6133
3       3274
2       1761
4        303
5         78
Name: banner_pos, dtype: int64

site_id特征的不同取值和出现次数
85f751fd    1899667
17d1b03f     813053
1fbe01fe     510361
e151e245     301178
5b08c53b     107401
5b4d2eda      98705
d9750ee7      72314
57ef2c87      41753
856e6d3f      41636
5ee41ff2      39277
b7e9786d      31676
d6137915      29067
e4d8dd7b      28798
83a0ad1a      26759
6399eda6      25162
93eaba74      23327
12fb4121      21895
6256f5b4      21039
b99a2c43      20533
78d60190      20004
57fe1b20      18371
17caea14      17678
bb4524e7      17476
6c5b482c      17037
e8f79e60      16947
4e7614cf      15768
517b8671      15708
c63170c5      15344
0a742914      15211
88154ade      15109
             ...
e52d8db4          1
4327e528          1
3f8cd3aa          1
fabd5274          1
f2271eda          1
0d9938a9          1
d0460c2d          1
c613727f          1
07b5e922          1
e5949f45          1
5252191f          1
70606640          1
78910e7f          1
8f465f90          1
bcb175bd          1
bfc98154          1
60025c22          1
d8386570          1
b45b1fcc          1
7664dcd3          1
2785dbf2          1
82530cba          1
5c16c534          1
76f70dde          1
c7722f88          1
31073bd0          1
b110fda2          1
5a763686          1
c7fe2ca6          1
4671e415          1
Name: site_id, Length: 3158, dtype: int64

site_domain特征的不同取值和出现次数
c4e18dd6    1946402
f3845767    1323414
7e091613     314748
7687a86e     147765
16a36ef3     107372
98572c79      74989
bd6d812f      41753
58a89a43      41636
17d996e6      39624
b12b9f85      31799
6b59f079      29504
bb1ef334      29067
a17bde68      28798
d262cf1e      27032
5c9ae867      26759
9d54950b      26141
968765cd      25162
28f93029      21039
cc962a1f      20533
1b32ed33      20045
5b626596      18387
0dde25ec      17678
d733bbc3      17477
c1aa3c04      17471
c4342784      16947
9f448720      16468
7256c623      15964
ac5abf20      15708
a9bba545      15344
510bd839      15211
             ...
16cf2691          1
bdb888b2          1
205d7510          1
22b88a28          1
fc0e3924          1
a45ce1c6          1
1c4aa398          1
6b112877          1
76492106          1
4e791211          1
99f229ff          1
fe58afcf          1
3a061925          1
3c8a15e6          1
4ecf9d38          1
46558ca0          1
a876714a          1
9b0784ef          1
30c7e20a          1
8a733391          1
1eb3b784          1
e6ba65e5          1
4d759e70          1
ec7745fc          1
7fb41909          1
781129a9          1
72326d2e          1
e00d502c          1
79a0b051          1
d3b34407          1
Name: site_domain, Length: 3740, dtype: int64

site_category特征的不同取值和出现次数
50e219e0    2070416
f028772b    1981050
28905ebd     583044
3e814130     327507
70fb0e29      20168
75fa27f6      19816
335d28a8      16060
f66779e6      12421
e787de0e      12284
8fd0aea4      11530
76b2941d       9285
c0dd3be3       6863
72722551       2794
dedf689d       1650
0569f928       1155
42a36e14        901
a818d37a        442
5378d028         48
9ccfa2ea         15
bcf865d9         12
74073276          1
c706e647          1
a72a0145          1
Name: site_category, dtype: int64

app_id特征的不同取值和出现次数
ecad2386    3177797
9c13b419     273151
685d1c4c     206632
e2fcccd2     168736
92f5800b     119869
febd1138      88736
7358e05e      54668
a5184c22      52019
ce183bbd      37514
51cedd4e      34783
f0d41ff1      34361
e9739828      33331
d36838b1      32711
03528b27      32348
e2a1ca37      29721
54c5d545      28661
98fed791      24699
3c4b944d      22335
cf0327f9      17240
be7c618d      16479
f888bf4c      15358
ffc6ffd0      13961
1dc72b4d      13306
3e2bf98d      12785
7e7baafa      11088
53de0284      10086
66f5e02e       9999
73206397       9779
c8e3e3c1       9756
0acbeaa3       9753
             ...
e04913f7          1
df6c2c17          1
0d3a6eac          1
07a3c559          1
71ede09e          1
064bead1          1
d4ee8015          1
149c3c42          1
233583a0          1
1604b92c          1
093a4219          1
be5c7a73          1
4ce47b92          1
6c6b895f          1
1de47a90          1
c1f9d4b8          1
7ccb49ea          1
40613f53          1
9d225a01          1
2dc53361          1
f31063ff          1
abe36196          1
1de440a3          1
a523ca12          1
bce7a984          1
b24cb9b3          1
35679d10          1
53049918          1
8113086b          1
86d4bc18          1
Name: app_id, Length: 4599, dtype: int64

app_domain特征的不同取值和出现次数
7801e8d9    3309500
2347f47a     890916
ae637522     202213
5c5a694b     168839
82e27996      88736
d9b5648e      84794
b9528b13      56098
b8d325c3      54164
aefc06bd      40049
0e8616ad      38091
df32afa9      33968
33da2e74      23220
5b9c592b      15358
6f7ca2ba       9999
b5f3b24a       9756
45a51db4       9753
1dc9b529       7174
5c620f04       6229
1ea19ec4       3566
885c7f3f       2313
99b4c806       1949
a8b0bf20       1726
813f3323       1652
2b627705       1511
ad63ec9b       1453
448ca2e3       1446
828da833       1418
0654b444       1320
c6824def       1070
f2f777fb       1054
             ...
e29fc2b7          1
32f9558b          1
97d745c9          1
3e5459f6          1
800100e0          1
7690b9d7          1
c343527e          1
a7accd5b          1
9a9085ad          1
b9215c20          1
438468ad          1
7bb90734          1
df741103          1
d767dc6b          1
9299777a          1
c72257c6          1
ed7f6170          1
c9cc7d7f          1
f75ccedd          1
949683f7          1
954eee1d          1
e2fa941d          1
4d86b5ce          1
f29c5d30          1
5aa9fd44          1
a7c33f94          1
1cb641ec          1
da45f10e          1
19b11785          1
fdbdd2a9          1
Name: app_domain, Length: 254, dtype: int64

app_category特征的不同取值和出现次数
07d7df22    3205477
0f2161f8    1005001
f95efa07     319647
8ded1f7a     313875
cef3e649     201625
d1327cf5       8563
fc6fa53d       4305
75d80bbe       4068
4ce2e9fc       3603
dc97ec06       3447
09481d60       2389
879c24eb       2124
a3c42688        989
79f0b860        578
0f9a328c        554
4681bb9d        300
2281a340        289
a86a3e89        244
8df2e842        131
2fc4f2aa        107
5326cf99         64
7113d72a         22
a7fd01ec         20
18b1e0be         11
0bfbc358          9
4b7ade46          8
0d82db25          7
6fea3693          5
bf8ac856          1
f395a87f          1
Name: app_category, dtype: int64

device_id特征的不同取值和出现次数
a99f214a    4354339
afeffc18       2475
936e92fb       1015
bcf28145        559
93cb7907        489
c61ad92d        442
9c2c3afd        436
03559b29        426
6784a088        416
987552d1        412
44ab35bd        411
02da5312        401
b09da1c4        396
bba1945c        360
cef4c8cc        323
0069fcd3        316
37d3491e        312
1b74f790        311
9af87478        300
0f7c61dc        273
315fe708        272
47c85939        265
dcdc860a        254
c357dbff        250
a09e10b9        245
4a8a305d        243
37e1e252        236
17994726        228
d857ffbb        225
3b7ff62d        224
             ...
155de242          1
637fc5cf          1
af3368c6          1
99424885          1
6b44ba48          1
0f34cf8c          1
032db0b7          1
9f27cd34          1
a72780f8          1
d499cbda          1
11c0cbaf          1
0f336646          1
1395d271          1
2ec67730          1
00df229c          1
64a14b57          1
47d10cc7          1
1a15997c          1
8642bfca          1
76e2e318          1
3e11da78          1
ab939b01          1
b7dd33f3          1
3cd2c000          1
6786226d          1
5be6692c          1
c9f7120a          1
4af8c7eb          1
c4fbff26          1
336e3f46          1
Name: device_id, Length: 364372, dtype: int64

device_ip特征的不同取值和出现次数

6b9769f2    22464
431b3174    12495
f1542531    12337
0489ce3f    10338
c6563308    10300
1cf29716    10252
a8536f3a    10248
ceffea69    10239
ddd2926e    10218
75bb1b58    10195
488a9a3e    10172
57cd4006    10071
8a014cbb     9821
9b1fe278     9755
ee0389c1     5685
07875ea4     5667
bca8f26d     5046
ac77b71a     4833
ff1c4f79     4700
e54c1344     4460
884297d2     4399
95b2935e     4256
df72a310     4073
693bff3e     3763
ff65d711     3605
930ec31d     3492
d90a7774     3377
7ed30f6c     3360
af62faf4     3335
2f323f36     3313
            ...
686b1119        1
97c0c24a        1
f1b6031d        1
a25f92dc        1
a2517f6d        1
6d690457        1
bf73ee17        1
de8acd82        1
3d1bf83c        1
5cb1aa46        1
55fd986e        1
49172973        1
e0563f12        1
89209436        1
ca272bc0        1
311f07f9        1
9e45dd5a        1
62ce2f54        1
8213c67a        1
1c081ba5        1
dec14b2d        1
43a17414        1
e9f074e8        1
6386d28f        1
7bc7cbd0        1
f4766118        1
d07450c6        1
cb9db11d        1
2744042f        1
4b42f35e        1
Name: device_ip, Length: 1308874, dtype: int64

device_model特征的不同取值和出现次数
1f0bc64f    228698
8a4875bd    227789
d787e91b    202992
4ea23a13     98677
be6db1d7     94749
a0f5f879     89534
76dc4769     87901
ecb851b2     85755
711ee120     83222
5096d134     78876
7abbbd5c     76913
36b67a2a     74210
3bd9e8e7     70053
1ccc7835     62513
c6263d8a     57138
d4897fef     52470
0eb711ec     51881
fce66524     50828
a5bce124     47168
158e4944     46385
be74e6fe     45337
779d90c2     45150
84ebbcd4     43973
5db079b5     41601
36d749e5     38846
2b127119     37571
e1eae715     37557
ef726eae     37469
f07e20f8     37067
aad45b01     36914
             ...
108ad072         1
efce9f97         1
a0b91659         1
8473e978         1
d05f2288         1
f2224401         1
2f553d29         1
a6219fed         1
56efc20d         1
e9751401         1
6bbc3723         1
6b5b6d78         1
c4db8e9c         1
06ad870b         1
dd1f7b12         1
a350cc70         1
9afafca6         1
ad88dc9b         1
c7adf117         1
5b6abbfa         1
c9b8992b         1
39f06fa7         1
aa6fc8e4         1
1084b388         1
690c2c4f         1
0e7efa2e         1
6e975e1f         1
27765edd         1
5d5dce03         1
415689e7         1
Name: device_model, Length: 5764, dtype: int64

device_type特征的不同取值和出现次数
1    4804362
0     194643
4      67439
5      11020
Name: device_type, dtype: int64

device_conn_type特征的不同取值和出现次数
0    4290006
2     500778
3     276837
5       9843
Name: device_conn_type, dtype: int64

C14特征的不同取值和出现次数
23137    376346
22104    126357
22254    124719
22261    123176
22257    122756
8330     104375
24132     91010
23161     79153
23160     78711
21611     70618
22676     64986
23139     57317
19771     54434
19772     53312
23563     49835
21893     49378
23141     48652
4687      41651
17894     41241
24152     39874
17239     39098
17893     38483
24107     38126
24320     35336
24094     35218
24303     34071
24304     33681
24289     33462
17654     33388
17653     33382
          ...
22388         1
18324         1
22420         1
14269         1
14267         1
22465         1
18427         1
18428         1
23418         1
22287         1
22064         1
22286         1
22068         1
22084         1
23645         1
23606         1
23615         1
23571         1
11267         1
23516         1
23512         1
23488         1
23496         1
23497         1
22203         1
22201         1
22249         1
22266         1
23450         1
22876         1
Name: C14, Length: 2477, dtype: int64

C15特征的不同取值和出现次数
320     4760486
300      269047
216       26784
728       20188
768         342
1024        327
480         194
120          96
Name: C15, dtype: int64

C16特征的不同取值和出现次数
50      4807006
250      208375
36        26784
90        20188
480       14152
1024        342
768         327
320         194
20           96
Name: C16, dtype: int64

C17特征的不同取值和出现次数
2545    501337
2664    482531
2761    204356
2676    173458
2667    157864
1722    153809
2763    117475
2227    108215
761     104444
2480     98729
2772     95108
2768     91010
2771     87351
2788     81228
2039     79724
2717     76914
1994     66770
2716     65776
2616     64986
2701     60625
2526     55162
1993     51407
2374     49084
2424     48976
2528     47501
2624     43858
2770     43854
1800     41997
423      41651
1872     39590
         ...
1042        10
873         10
2451         9
2536         8
2510         8
2702         8
2592         7
2390         7
2501         6
2703         6
2752         6
2218         6
2687         6
2651         3
2206         3
2598         3
2525         3
2593         3
2582         2
2762         2
1515         2
2375         2
2575         2
2279         2
2568         1
872          1
2704         1
2719         1
2084         1
2191         1
Name: C17, Length: 462, dtype: int64

C18特征的不同取值和出现次数
0    2332173
3    1460114
2    1021859
1     263318
Name: C18, dtype: int64

C19特征的不同取值和出现次数
35      1673501
39       962693
431      497929
167      287649
299      274196
47       198283
175      156721
33       149378
935       84485
163       79631
295       71804
41        63804
161       58299
425       55405
171       53011
1327      52519
1063      51732
291       30138
815       24801
43        24276
687       19953
297       17693
943       16359
427       15405
303       15164
169       12540
937       11087
679        9174
813        8119
1319       7745
         ...
803        5050
801        4337
1831       4098
1315       4092
419        4047
1575       3475
673        3274
34         3250
547        3015
289        2945
38         2323
939        1999
555        1993
1451       1889
811        1264
1711       1236
1065       1218
675        1087
1199        857
551         646
290         531
423         277
1835        231
553         157
1839        155
417          90
45           42
683          15
1195          3
677           2
Name: C19, Length: 66, dtype: int64

C20特征的不同取值和出现次数
-1         2366919
 100084     469877
 100148     340150
 100176     167510
 100075     163100
 100111     150585
 100077     129822
 100081     128390
 100083     110693
 100189      68671
 100193      62744
 100188      53214
 100074      53085
 100079      52783
 100156      48160
 100194      46361
 100160      37819
 100192      36530
 100076      35722
 100013      34104
 100161      27450
 100177      26485
 100170      25553
 100000      24400
 100202      22186
 100199      21859
 100101      21761
 100200      20776
 100105      20697
 100190      18251
            ...
 100123        111
 100099        107
 100139        101
 100229         92
 100213         88
 100091         85
 100244         70
 100032         68
 100165         62
 100056         60
 100010         59
 100109         52
 100033         46
 100175         42
 100137         41
 100082         36
 100108         33
 100024         33
 100153         22
 100122         19
 100169         12
 100138          8
 100100          6
 100132          4
 100098          4
 100186          3
 100246          3
 100078          3
 100187          2
 100157          1
Name: C20, Length: 166, dtype: int64

C21特征的不同取值和出现次数
23     1105249
221    1029416
51      638036
13      334995
79      324393
71      254615
61      247561
240     196767
32      164074
33      161436
48      131136
52       96886
16       51440
42       49706
246      49323
157      23048
95       20840
204      19702
46       16476
171      15992
15       13296
76       11955
253       9718
101       9418
68        8231
212       8211
43        7154
90        6928
251       6835
82        6535
        ...
117       5155
229       5050
94        4985
17        4238
156       4195
159       3642
70        2980
69        2194
102       1993
112       1780
111       1680
110       1491
116       1452
255       1125
178        626
182        600
35         592
108        589
219        293
194        190
20         176
93         134
104        111
126        110
163         90
177         60
195         46
1           34
85           2
184          1
Name: C21, Length: 62, dtype: int64

label特征的不同取值和出现次数
-1    4577464
 1     500000
Name: label, dtype: int64

In [14]:
featnames_onehot = ['C1','banner_pos', 
                'site_category', 'app_category', 'device_type', 
                'device_conn_type', 'C15', 'C16', 
                 'C18', 'C19', 'C21']
featnames_hash = ['hour', 'site_id', 'site_domain', 'app_id', 
              'app_domain', 'device_id', 'device_ip', 
              'device_model', 'C14', 'C17', 'C20']

## 2、特征编码

In [15]:
# 数值型数据列名
numerical_features = ['hour', 'C1', 'banner_pos', 
                      'device_type', 'device_type', 'device_conn_type', 
                      'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']
#类别型数据列名
categorical_features = ['site_id', 'site_domain', 'site_category', 
                        'app_id', 'app_domain', 'app_category', 
                        'device_id', 'device_ip', 'device_model']

### 2.1 标签编码

In [16]:
# 导入编码工具包
from sklearn import preprocessing

for col in categorical_features:
    le = preprocessing.LabelEncoder()
    le.fit(X_all[col].values.tolist())

    X_all[col] = le.transform(X_all[col].values.tolist())

In [17]:
X_all.head()

,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,label
0,14102100,1005,0,387,3552,1,4242,114,0,241357,...,0,15704,320,50,1722,0,35,-1,79,1
1,14102100,1005,0,387,3552,1,4242,114,0,241357,...,0,15707,320,50,1722,0,35,-1,79,1
2,14102100,1002,0,3036,3682,5,4242,114,0,60704,...,0,6616,320,50,576,2,35,100131,32,1
3,14102100,1005,0,1665,2879,5,58,28,18,241357,...,2,6559,320,50,571,2,39,-1,32,1
4,14102100,1005,0,1665,2879,5,4175,28,4,360469,...,0,18993,320,50,2161,0,35,100148,157,1

In [18]:
X_all.shape

(5077464, 23)

### 2.2 独热编码

对维度不高的特征进行独热编码

In [19]:
feats_onehot = pd.DataFrame()
new_df = pd.DataFrame()
for col in featnames_onehot:
    new_df = pd.get_dummies(X_all[col])
    print("%s encoding is completed." % col)
    feats_onehot = pd.concat([feats_onehot, new_df], axis=1, ignore_index=True)
    print("%s onehot is connected." % col)

C1 encoding is completed.
C1 onehot is connected.
banner_pos encoding is completed.
banner_pos onehot is connected.
site_category encoding is completed.
site_category onehot is connected.
app_category encoding is completed.
app_category onehot is connected.
device_type encoding is completed.
device_type onehot is connected.
device_conn_type encoding is completed.
device_conn_type onehot is connected.
C15 encoding is completed.
C15 onehot is connected.
C16 encoding is completed.
C16 onehot is connected.
C18 encoding is completed.
C18 onehot is connected.
C19 encoding is completed.
C19 onehot is connected.
C21 encoding is completed.
C21 onehot is connected.

In [20]:
# 设置独热编码列名
columns_onehot = np.empty(feats_onehot.shape[1], dtype=object)
for i in range(feats_onehot.shape[1]):
    columns_onehot[i] = 'OneHot_' + str(i+1)
feats_onehot.columns = columns_onehot
feats_onehot.head()

,OneHot_1,OneHot_2,OneHot_3,OneHot_4,OneHot_5,OneHot_6,OneHot_7,OneHot_8,OneHot_9,OneHot_10,...,OneHot_215,OneHot_216,OneHot_217,OneHot_218,OneHot_219,OneHot_220,OneHot_221,OneHot_222,OneHot_223,OneHot_224
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
feats_onehot.shape

(5077464, 224)

### 2.3 哈希编码

对高维度的特征进行哈希编码

In [22]:
X_all[featnames_hash].shape

(5077464, 11)

In [23]:
unique_id = np.unique(X_all[['site_id']])
print("Total site id:", len(unique_id))
print(unique_id)

Total site id: 3158
[   0    1    2 ... 3155 3156 3157]

In [24]:
from sklearn.feature_extraction import FeatureHasher
feats_hash = pd.DataFrame()
for col in featnames_hash:
    fh = FeatureHasher(n_features=10, input_type='string')
    df = fh.fit_transform(X_all[col].astype(str))
    df = pd.DataFrame(df.toarray(), dtype='float16')
    print("Feature %s is hashed." % col)
    feats_hash = pd.concat([feats_hash, df], axis=1, ignore_index=True)
    print("Feature %s is connected." % col)
print("Completed!")

Feature hour is hashed.
Feature hour is connected.
Feature site_id is hashed.
Feature site_id is connected.
Feature site_domain is hashed.
Feature site_domain is connected.
Feature app_id is hashed.
Feature app_id is connected.
Feature app_domain is hashed.
Feature app_domain is connected.
Feature device_id is hashed.
Feature device_id is connected.
Feature device_ip is hashed.
Feature device_ip is connected.
Feature device_model is hashed.
Feature device_model is connected.
Feature C14 is hashed.
Feature C14 is connected.
Feature C17 is hashed.
Feature C17 is connected.
Feature C20 is hashed.
Feature C20 is connected.
Completed!

In [25]:
# 设置哈希编码列名
columns_hash = np.empty(feats_hash.shape[1], dtype=object)
for i in range(feats_hash.shape[1]):
    columns_hash[i] = 'Hash_' + str(i+1)
feats_hash.columns = columns_hash
feats_hash.head()

,Hash_1,Hash_2,Hash_3,Hash_4,Hash_5,Hash_6,Hash_7,Hash_8,Hash_9,Hash_10,...,Hash_101,Hash_102,Hash_103,Hash_104,Hash_105,Hash_106,Hash_107,Hash_108,Hash_109,Hash_110
0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-3.0,0.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
1,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-3.0,0.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-3.0,0.0,-3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.0,-2.0
3,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-3.0,0.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
4,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-3.0,0.0,-3.0,...,0.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-2.0,0.0,-2.0

In [26]:
feats_hash.shape

(5077464, 110)

## 3、处理编码后的特征

In [27]:
# # 区分训练集和测试集的函数
# def split_data(dataset):
#     train_set = pd.DataFrame(columns=dataset.columns)
#     test_set = pd.DataFrame(columns=dataset.columns)
#     for index, row in dataset.iterrows():
#         if row['label'] == 1:
#             train_set = train_set.append(row).drop(['label'], axis=1)
#         elif row['label'] == -1:
#             test_set = test_set.append(row).drop(['label'], axis=1)
#         else:
#             print("Wrong label!!!")
#             return
#     return train_set, test_set

### 3.1 保存编码结果

**标签编码**

In [27]:
# 划分训练集和测试集
columns = X_all.columns
train_label = pd.DataFrame(X_all.loc[0:499999])
test_label = pd.DataFrame(X_all.loc[500000:5077463])

In [28]:
# 合并训练集id和click列
train_label = pd.concat([id_train, y_train, train_label], axis=1)
# 删除label列
train_label = train_label.drop(['label'], axis=1)
train_label.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10014385711019128754,0,14102100,1005,0,387,3552,1,4242,114,...,1,0,15704,320,50,1722,0,35,-1,79
1,10019341288757450780,0,14102100,1005,0,387,3552,1,4242,114,...,1,0,15707,320,50,1722,0,35,-1,79
2,10024331030544393307,1,14102100,1002,0,3036,3682,5,4242,114,...,0,0,6616,320,50,576,2,35,100131,32
3,10065138335302585931,0,14102100,1005,0,1665,2879,5,58,28,...,1,2,6559,320,50,571,2,39,-1,32
4,10077489368961027234,0,14102100,1005,0,1665,2879,5,4175,28,...,1,0,18993,320,50,2161,0,35,100148,157

In [29]:
train_label.shape

(500000, 24)

In [30]:
test_label.head()

,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,label
500000,14103100,1005,0,428,3595,21,4242,114,0,241357,...,0,8330,320,50,761,3,175,100075,23,-1
500001,14103100,1005,0,387,3552,1,4242,114,0,241357,...,0,22676,320,50,2616,0,35,100083,51,-1
500002,14103100,1005,0,387,3552,1,4242,114,0,241357,...,0,22676,320,50,2616,0,35,100083,51,-1
500003,14103100,1005,0,1665,2879,5,1435,169,4,241357,...,0,18648,320,50,1092,3,809,100156,61,-1
500004,14103100,1005,0,1665,2879,5,2781,28,28,241357,...,0,23160,320,50,2667,0,47,-1,221,-1

In [31]:
# 重置测试集索引
test_label = test_label.reset_index(drop=True)
test_label.head()

,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,label
0,14103100,1005,0,428,3595,21,4242,114,0,241357,...,0,8330,320,50,761,3,175,100075,23,-1
1,14103100,1005,0,387,3552,1,4242,114,0,241357,...,0,22676,320,50,2616,0,35,100083,51,-1
2,14103100,1005,0,387,3552,1,4242,114,0,241357,...,0,22676,320,50,2616,0,35,100083,51,-1
3,14103100,1005,0,1665,2879,5,1435,169,4,241357,...,0,18648,320,50,1092,3,809,100156,61,-1
4,14103100,1005,0,1665,2879,5,2781,28,28,241357,...,0,23160,320,50,2667,0,47,-1,221,-1

In [32]:
# 合并测试集集id
test_label = pd.concat([id_test, test_label], axis=1)
# 删除label列
test_label = test_label.drop(['label'], axis=1)
test_label.head()

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10000174058809263569,14103100,1005,0,428,3595,21,4242,114,0,...,1,0,8330,320,50,761,3,175,100075,23
1,10000182526920855428,14103100,1005,0,387,3552,1,4242,114,0,...,1,0,22676,320,50,2616,0,35,100083,51
2,10000554139829213984,14103100,1005,0,387,3552,1,4242,114,0,...,1,0,22676,320,50,2616,0,35,100083,51
3,10001094637809798845,14103100,1005,0,1665,2879,5,1435,169,4,...,1,0,18648,320,50,1092,3,809,100156,61
4,10001377041558670745,14103100,1005,0,1665,2879,5,2781,28,28,...,1,0,23160,320,50,2667,0,47,-1,221

In [33]:
test_label.shape

(4577464, 23)

In [34]:
# 保存训练集和测试集
train_label.to_csv(dpath + "train_label.csv", index=False, header=True)
test_label.to_csv(dpath + "test_label.csv", index=False, header=True)

**合并独热编码和哈希编码**

In [35]:
# 划分独热编码训练集和测试集
train_onehot = pd.DataFrame(feats_onehot.loc[0:499999])
test_onehot = pd.DataFrame(feats_onehot.loc[500000:5077463])

# 重置独热编码测试集索引
test_onehot = test_onehot.reset_index(drop=True)

# 划分哈希编码训练集和测试集
train_hash = pd.DataFrame(feats_hash.loc[0:499999])
test_hash = pd.DataFrame(feats_hash.loc[500000:5077463])

# 重置哈希编码测试集索引
test_hash = test_hash.reset_index(drop=True)

In [36]:
# 合并训练集独热编码和哈希编码结果
train_oh_hash = pd.concat([id_train, y_train, train_onehot, train_hash], axis=1)
train_oh_hash.head()

,id,click,OneHot_1,OneHot_2,OneHot_3,OneHot_4,OneHot_5,OneHot_6,OneHot_7,OneHot_8,...,Hash_101,Hash_102,Hash_103,Hash_104,Hash_105,Hash_106,Hash_107,Hash_108,Hash_109,Hash_110
0,10014385711019128754,0,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
1,10019341288757450780,0,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2,10024331030544393307,1,0,1,0,0,0,0,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.0,-2.0
3,10065138335302585931,0,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
4,10077489368961027234,0,0,0,1,0,0,0,0,1,...,0.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-2.0,0.0,-2.0

In [44]:
# 保存训练集
train_oh_hash.to_csv(dpath + "train_oh_hash.csv", index=False, header=True)

In [38]:
# 合并测试集独热编码和哈希编码结果
test_oh_hash = pd.concat([id_test, test_onehot, test_hash], axis=1)
test_oh_hash.head()

,id,OneHot_1,OneHot_2,OneHot_3,OneHot_4,OneHot_5,OneHot_6,OneHot_7,OneHot_8,OneHot_9,...,Hash_101,Hash_102,Hash_103,Hash_104,Hash_105,Hash_106,Hash_107,Hash_108,Hash_109,Hash_110
0,10000174058809263569,0,0,1,0,0,0,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,-3.0
1,10000182526920855428,0,0,1,0,0,0,0,1,0,...,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,-3.0
2,10000554139829213984,0,0,1,0,0,0,0,1,0,...,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,-3.0
3,10001094637809798845,0,0,1,0,0,0,0,1,0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,0.0,-2.0
4,10001377041558670745,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0

In [41]:
# 保存测试集
test_oh_hash.to_csv(dpath + "test_oh_hash.csv", index=False, header=True)

**合并标签编码和哈希编码**

In [42]:
# 合并训练集标签编码和哈希编码结果
train_lb_hash = pd.concat([id_train, y_train, train_label[featnames_onehot], train_hash], axis=1)
train_lb_hash.head()

,id,click,C1,banner_pos,site_category,app_category,device_type,device_conn_type,C15,C16,...,Hash_101,Hash_102,Hash_103,Hash_104,Hash_105,Hash_106,Hash_107,Hash_108,Hash_109,Hash_110
0,10014385711019128754,0,1005,0,1,0,1,0,320,50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
1,10019341288757450780,0,1005,0,1,0,1,0,320,50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2,10024331030544393307,1,1002,0,5,0,0,0,320,50,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.0,-2.0
3,10065138335302585931,0,1005,0,5,18,1,2,320,50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
4,10077489368961027234,0,1005,0,5,4,1,0,320,50,...,0.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-2.0,0.0,-2.0

In [52]:
train_lb_hash.columns[13: 123]

Index(['Hash_1', 'Hash_2', 'Hash_3', 'Hash_4', 'Hash_5', 'Hash_6', 'Hash_7',
       'Hash_8', 'Hash_9', 'Hash_10',
       ...
       'Hash_101', 'Hash_102', 'Hash_103', 'Hash_104', 'Hash_105', 'Hash_106',
       'Hash_107', 'Hash_108', 'Hash_109', 'Hash_110'],
      dtype='object', length=110)

In [45]:
# 保存训练集
train_lb_hash.to_csv(dpath + "train_lb_hash.csv", index=False, header=True)

In [46]:
# 合并测试集标签编码和哈希编码结果
test_lb_hash = pd.concat([id_test, test_label[featnames_onehot], test_hash], axis=1)
test_lb_hash.head()

,id,C1,banner_pos,site_category,app_category,device_type,device_conn_type,C15,C16,C18,...,Hash_101,Hash_102,Hash_103,Hash_104,Hash_105,Hash_106,Hash_107,Hash_108,Hash_109,Hash_110
0,10000174058809263569,1005,0,21,0,1,0,320,50,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,-3.0
1,10000182526920855428,1005,0,1,0,1,0,320,50,0,...,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,-3.0
2,10000554139829213984,1005,0,1,0,1,0,320,50,0,...,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,-3.0
3,10001094637809798845,1005,0,5,4,1,0,320,50,3,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,0.0,-2.0
4,10001377041558670745,1005,0,5,28,1,0,320,50,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0

In [47]:
# 保存测试集
test_lb_hash.to_csv(dpath + "test_lb_hash.csv", index=False, header=True)